@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@font-face {
    font-family: "adbu";
    src: url("fonts/Astral Delight Black Upright.ttf");}
@font-face {
    font-family: "ttt";
    src: url("fonts/ttt.woff");}
@font-face {
    font-family: "ChessFont";
    src: url("fonts/chess.ttf");}
@-webkit-keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
}
  @keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
}
@-webkit-keyframes scale-down-ver-bottom {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
}
@keyframes scale-down-ver-bottom {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
  

body{
    margin: 0;
    padding: 0;
    background-color: #17a8be;
    font-family: poppins;}
h2 {
    font-weight: 900;
    font-size: 1.4rem;
    color: #FED766;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#container-board{
    display: none;
    margin: 0 auto;
    width: 480px;
    height: 480px;
    background: #fff;
    -webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	border-radius:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #00879c, -14px -14px 20px #2AB7CA;
    -webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#board{
    display: none;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;

}
 
#promotion{
    display: flex;
}
#promotepawn{
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    margin: 105px;
    border-radius: 20px;
    width: 250px;
    height: 70px;
    margin-top: -50px;
    background: #ecf0f3;
    box-shadow: 6px 9px 14px 5px rgba(0,0,0,0.1);


}
.promotevisible{
    display: flex;
    -webkit-animation: scale-up-ver-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-ver-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}
.promoteinvisible{
    -webkit-animation: scale-down-ver-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-down-ver-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}
#promotepawn button{
    margin: 10 auto;
    width: 50px;
    height: 50px;
    background: #FED766;
    cursor: pointer;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
    user-select: none;
}
#promotepawn button:hover{
    box-shadow: none;
}
.promote {
    font-family: ChessFont;
    font-size: 2rem;
}

.inputs {
    text-align: left;
    margin-top: 30px;}
#firstpage{
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #00879c, -14px -14px 20px #2AB7CA;}

.gray{
    background-color: #e1e1e1;

}
.cell {
	-webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "ChessFont";
    font-size: 33px;
    color: #292828;}
.piece{
    position: absolute;}
.dragging {
    opacity: .25;}
.hover {
    background-color: rgba(0,191,165,.04);}
.cell-1{
    display: none;
    color: #ecf0f3;
    height: 1px;
    width: 1px;}
.selected{
	outline: 3px solid #FED766;
    outline-offset: -3px;}
.selected_empty{
	outline: 3px solid green;
    outline-offset: -20px;}
.selected_enemy{
    outline: 3px solid #fe8466;
    outline-offset: -20px;}
label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    align-items: center;
    box-sizing: border-box;}
label {
    margin-bottom: 4px;}
label:nth-of-type(2) {
    margin-top: 12px;}
input::placeholder {
color: gray;}
input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;}
button {
    margin-top: 20px;
    background: #FED766;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;}
button:hover {
    box-shadow: none;}
.brand-logo {
    height: 100px;
    width: 100px;
    background-size: 75px 75px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    text-align: center;}
.brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #FED766;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;}
.anim{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("img/waiting.gif") no-repeat center;
    background-size: 300px 300px;
    text-align: center;
}
.brand-waiting {
    margin-top: -30px;
    font-weight: 900;
    font-size: 1.4rem;
    color: #FED766;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;}
#overlay1{
    display: none;/*block*/
    position: fixed;
    width: 480px;
    height: 480px;
    overflow:visible;
    pointer-events:none;
    background:none;

    border-radius:25px;
    z-index: 3;}
#overlay2{
    display: none;/*block*/
    position: fixed;

    width: 480px;
    height: 480px;
    border-radius:25px;
    background-color: #ecf0f3e0;
    z-index: 2;}
#overlay2 button{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;}
#overlay2 #text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 200px;

    font-weight: 900;
    font-size: 2.5rem;
    color: #FED766;
    letter-spacing: 1px;
}

.coordinates{
    position: absolute;
    fill: #17a8be;
    z-index: 2;
}

img{
    text-align: center;
    padding-top: 100px;
    padding-left: 9px;
}
#forfight{
    display: none;
    position: absolute;
    width: 100px;
    font-size: 28px;
    margin-top: 600px;
    box-shadow: 14px 14px 20px #00879c, -14px -14px 20px #2AB7CA;
    -webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}
#forfight:hover{
    box-shadow: none;
    
}